.size-image {
    height: calc(100vh - 200px);
}

.size-video {
    height: calc(80vh - 200px);
}

.progress-bar-container {
    position: relative;
    border: 1px double #1A374D;
    background: none;
    height: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.progress-bar-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    transition: width .2s linear;
    background-color: #0049b7;
    border-radius: 5px;
}

.progress-person {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    background-color: #06b70080;
    border-radius: 5px;
}

.indicator-container {
    position: absolute;
    top: -30px;
    display: flex;
    justify-content: end;
    align-items: center;
    transition: left 1s linear;
  }
  
  .indicator {
    position: absolute;
    top: 20px;
    right: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #1A374D;
    transition: left 1s linear;
  }
  
  .indicator-text {
    position: absolute;
    right: -20px;
    top: -20px;
    transition: left 1s linear;
  }

